<?php

class DB extends DBmysql {
   public $dbhost = {{ (glpi_db_host ~ (':' ~ (mariadb_port | string) if mariadb_port is defined and (mariadb_port | string | trim | length) > 0 else '')) | php_single_quoted_string }};
   public $dbuser = {{ glpi_db_user | php_single_quoted_string }};
   public $dbpassword = {{ glpi_db_password | php_rawurlencoded_single_quoted_string }};
   public $dbdefault = {{ glpi_db_name | php_single_quoted_string }};
   public $use_timezones = {{ 'true' if glpi_timezone_support_enabled | default(false) | bool else 'false' }};
   public $use_utf8mb4 = true;
   public $allow_datetime = false;
   public $allow_signed_keys = false;
}
