memory_limit = {{ glpi_memory_limit }}
max_execution_time = {{ glpi_max_execution_time }}
upload_max_filesize = {{ glpi_upload_max_filesize }}
post_max_size = {{ glpi_post_max_size }}
session.cookie_secure = {{ 'On' if glpi_tls_mode != 'none' else 'Off' }}
session.cookie_httponly = On
session.cookie_samesite = Lax
opcache.enable = 1
opcache.memory_consumption = {{ glpi_opcache_memory_consumption }}
opcache.interned_strings_buffer = 16
opcache.max_accelerated_files = 20000
opcache.validate_timestamps = 1
apc.enabled = 1
