[glpi]
user = {{ glpi_data_owner }}
group = {{ glpi_data_group }}
listen = {{ glpi_php_fpm_socket }}
listen.owner = {{ glpi_data_owner }}
listen.group = {{ glpi_data_group }}
pm = {{ glpi_pm }}
pm.max_children = {{ glpi_pm_max_children }}
pm.start_servers = {{ glpi_pm_start_servers }}
pm.min_spare_servers = {{ glpi_pm_min_spare_servers }}
pm.max_spare_servers = {{ glpi_pm_max_spare_servers }}
pm.max_requests = {{ glpi_pm_max_requests }}
{% if php_fpm_exporter_enabled | default(false) %}
pm.status_path = /status
ping.path = /ping
ping.response = pong
{% endif %}
catch_workers_output = yes
php_admin_flag[log_errors] = on
php_admin_value[error_log] = {{ glpi_log_dir }}/php-fpm-error.log
