apiVersion: 1
datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://{{ monitoring_prometheus_bind_host | default('127.0.0.1') }}:{{ monitoring_prometheus_port | default(9090) }}
    isDefault: true
    editable: false
