apiVersion: 1
providers:
  - name: glpi-operations-kit
    orgId: 1
    folder: GLPI Operations Kit
    type: file
    disableDeletion: false
    editable: false
    options:
      path: /var/lib/grafana/dashboards/glpi
