location = {{ email_mailpit_ui_path_normalized }} {
    return 301 {{ email_mailpit_webroot }};
}

location ^~ {{ email_mailpit_webroot }} {
    proxy_pass http://{{ email_mailpit_ui_bind_host }}:{{ email_mailpit_ui_internal_port }}{{ email_mailpit_webroot }};
    proxy_http_version 1.1;
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
}
